@import "./variables";
@import "./helpers";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

// variables



// Global Styles

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

// heading

.hero {
  height: 50.688rem;

  position: relative;

  header {
    z-index: 1;

    .items {
      display: flex;
      color: white;
      width: 50%;
      justify-content: space-between;

    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 11.8125rem;

        img {
          width: 100%;
        }
      }

      &-list {


        list-style: none;
        display: flex;
        margin: 0;
        box-sizing: border-box;

        .nav-item {
          margin-inline: 1rem;

          .nav-link {
            text-decoration: none;
            color: inherit;
          }
        }
      }

    }
  }

  .banner {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    &_inner {

      display: flex;
      height: 43.75rem;

      .left {
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;

          &-container {
            width: 34.25rem;
            position: relative;

            p {
              font-size: 3rem;
              font-weight: 900;
              line-height: 3.631rem;
            }

            .arrow-curve {
              position: absolute;
              right: 30%;
              bottom: 10%;
            }

          }
        }

      }

      .right {
        background: $primary;
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;
          position: relative;

          img {
            width: 100%;
          }

          .image-1 {
            width: 29.125rem;
            position: absolute;
            left: -7%;
          }

          .image-2 {
            width: 22.438rem;
            position: absolute;
            bottom: 0;
            right: 8.375rem;
          }
        }
      }
    }
  }
}
.main {
  height: 891px;
  // background-color: aquamarine;
  position: relative;
  .inside-main {
    margin-top: 270px;
    position: relative;
      display: flex;
  
      .main-video1 {
        margin-top: 1rem;
        padding-top: 1rem;
        margin-left: 5.8125rem;
        background-color: $primary;
        width: 34.5rem;
        height: 635px;
        // padding-bottom: 16rem;
      }
      .main-video2 {
        .iframe {
          height: 39.6875rem;
          width: 34.5rem;
        }
        position: absolute;
        left: 63px;
        bottom: 2.375rem;
      }
      .main-text {
        position: absolute;
        right: 9rem;
        top: -3rem;
        .text-header {
          margin-top: 200px;
          margin-right: 4.938rem;
          font-weight: 700;
            font-size: 3rem;
            line-height: 3.625rem;
        }
        .text-body {
          margin-right: 9.25rem;
          margin-top: -1rem;
          // background-color: beige;
          line-height: 1.361rem;
          font-weight: 400;
          font-size: 1.125rem;
        }
        width: 40rem;
        padding-left: 10rem;
        margin-left: 5rem;
  
        // background-color: aqua;
        .text-body {
          width: 35.75rem;
          height: 12.438rem;
        }
      }
  
      .inside-main-btn {
        .nav_list {
          position: absolute;
          bottom: 4.25rem;
          right: 33rem;
  
          & li {
            list-style: none;
            margin: 0;
            box-sizing: border-box;
            all: unset;
            padding: 1.5rem 4.375rem;
            border-radius: 0.313;
            background-color: $primary;
          }
  
          & a {
            text-decoration: none;
            color: white;
            font-weight: 400;
            font-size: 1.125rem;
          }
        }
      }
    }
}
.recent-reports {
  // width: 90rem;
  height: 50.563rem;
  background-color: $primary;
  position: relative;
  .recent-reports-header {
    font-weight: 700;
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 1.25rem;
    left: 3.938rem;
  }
  .report-item {
    position: absolute;
    left: 3.938rem;
    top: 7.625rem;
    width: 6.875rem;
    height: 0.688rem;
    background-color: white;
  }
  .report-images {
    padding-top: 11.188rem;
    display: flex;
    justify-content:space-evenly;
    .report-images-container {
      position: relative;
     border-radius: 0.5rem;
    //  width: 18.75rem;
      height: 26.5rem;
      background-color: white;
      padding: 0.75rem;
      .p-container {
        width: 15.438rem;
        height: 8.125rem;
        position: absolute;
        bottom: 2.5rem;
        font-weight: 400;
        font-size: 0.938rem;
        line-height: 1.156rem;

      }
      .ogoni {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        .ogoni-heading {
          font-weight: 500;
          font-size: 1.063rem;
          width: 10.875rem;
          height: 1.375rem;
        }
        .ogoni-date {
          font-weight: 400;
          font-size: 0.875rem;
          width: 4.563rem;
          height: 1.063rem;
          color: #5E5E5E;
        }
      }
            .lga {
              position: absolute;
              bottom: 0.063rem;
              font-weight: 500;
              font-size: 0.875rem;
            }
    }
  }
  .recent-reports-btn {
    .nav-recent-reports {
      position: absolute;
      right: 40.875rem;
      bottom: 3.438rem;
      & li {
          list-style: none;
          margin: 0;
          box-sizing: border-box;
          all: unset;
          padding: 1.5rem 4.375rem;
          border-radius: 0.313rem;
          background-color: white;
        }
      
        & a {
          text-decoration: none;
          font-weight: 400;
          font-size: 1.125rem;
        }
    }
  }
}
.niger-delta {
  position: relative;
  height: 53.5rem;
  .niger-delta-heading {
    font-weight: 700;
    font-size: 3rem;
    margin-left: 5.438rem;
    width: 44.063rem;
    height: 7.25rem;
    line-height: 3.631rem;
    padding-bottom: 1.875rem;
    margin-left: 5.438rem;
  }
  .niger-delta-big-container {
    position: absolute;
    top: 200px;
    .niger-delta-container1 {
        display: flex;
        justify-content: center;
        margin-left: 5.438rem;
        margin-right: 5.438rem;
      }
    
      .niger-delta-container2 {
        display: flex;
        justify-content: center;
        margin-top: -0.5rem;
        margin-left: 5.438rem;
          margin-right: 5.438rem;
      }
  }
}
footer {
  background-color: $primary;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
}